/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* ------- ---------------
-----------utilities------ 
--------------------------*/
* {
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
/* ------------------
--------header-------
---------------------*/
.logo-title {
  font-weight: 500;
  font-size: 24px;
  margin-left: 10px;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;

  /* padding: 20px 0; */
}
.felx-nav {
  width: 870px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-img img {
  width: 30px;
  height: 38px;
  margin-left: 10px;
}
.nav-menu {
  list-style: none;
  display: flex;
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right img {
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.nav-menu a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: 600px;
  padding: 10px 20px;
  /* border-radius: 10px; */
}
.nav-menu a:hover {
  background-color: blue;
  transition: 0.5s linear;
}

/* -----------------------
--------header ends-------
------------------------*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: white;
  width: 840px;
  padding: 30px;
  border-radius: 5px;
  margin-top: 21px;
}
hr {
  /* width: 807px; */
  border: 1px solid #d1d1d1;
  margin-top: 30px;
  margin-bottom: 27px;
}
/* top players style */
.section-title {
  color: #562eff;
  margin-top: 3px;
  margin-bottom: 40px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.players-name {
  margin-left: 16px;
  font-size: 18px;
}
.player img {
  width: 56px;
  height: 56px;
}

/* top blogs section */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
}

.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562eff;
}

/* courses section */
.courses {
  display: flex;
  justify-content: space-between;
}
.course {
  width: 250px;
  height: 270px;
  background-color: #ffffff;
  padding: 10px;
  margin-right: 10px;
  border-radius: 15px;
  filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}

.course-banner img {
  width: 224px;
  height: 104px;
}
.course-title {
  font-size: 18px;
  margin-bottom: 0;
}
.course-instructor {
  margin-top: 8px;
  margin-bottom: 0px;
}
.course-instructor a {
  text-decoration: none;
  color: #562eff;
}
.course-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.stars {
  margin-right: 11px;
}
.fa-star,
.fa-star-half-alt {
  font-size: 12px;
}
.fa-star.fillid {
  color: #ffc014;
}
.fa-star-half-alt.half-fillid {
  color: #ffc014;
}
.ratings {
  margin-right: 25px;
}

/* media queries */

/* mobile devices */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog,
  .courses {
    flex-direction: column;
  }
  .course {
    margin-top: 20px;
  }

  /* nav bar */
  .nav-menu {
    flex-direction: column;
  }
  .nav-menu a {
    margin: 20px 0;
  }
  .navbar {
    height: 100px;
  }
}

/* tablet devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs {
    grid-template-columns: repeat(2, 1fr);
  }
  .player,
  .blog,
  .courses {
    flex-direction: column;
  }
  .courses {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .course {
    margin-top: 20px;
  }
}
